.bodytop_margin {
    padding-top: 108px;
}


.paragraphWidth {
    max-width: 579px;
    width: 100%;
}

.mb-6 {
    margin-bottom: 4.5rem !important;
}

.mainHeading {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: clamp(3rem, 4vw, 4rem);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 70.4px */
    letter-spacing: -1.6px;
}

.textGradient {
    font-size: clamp(2.8rem, 4vw, 4.5rem);
    background: linear-gradient(270deg,
            rgba(222, 141, 214, 1) 0%,
            rgba(48, 92, 253, 1) 20%,
            rgba(48, 92, 253, 1) 80%,
            rgba(222, 141, 214, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 300% 100%;
    animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.commonPara {
    color: var(--clr-text-primary-gray);
    font-family: var(--font-Geist);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 35px;
}

.paragraph3 {
    color: var(--clr-text-primary-gray);
    font-family: var(--font-Geist);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}


.heading_H3 {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.64px;
}

.gradientTextBox {
    border-radius: 999px;
    border: 1px solid var(--clr-border-gray);
    background: var(--clr-white);
    box-shadow: 0px 4px 16px 0px rgba(27, 30, 61, 0.05), 0px 6px 24px 0px rgba(27, 30, 61, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
}

.gradientTextBox p {
    margin-bottom: 0;
    color: var(--clr-text-blue300);
    font-family: var(--font-Geist);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* opacity: 0.3; */
    letter-spacing: -0.14px;
}


.gradientTextBox p {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.596) 0%, #373E92 49.04%, rgba(202, 112, 169, 0.40) 62.02%, rgba(170, 170, 170, 0.678) 83.07%);
    -webkit-background-clip: text;
    background-clip: text;
    /* mix-blend-mode: soft-light; */
    background-size: 200% 200%;
    background-position: 100% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease-in-out;
    animation: textGradient 5s ease-in-out infinite;
}

@keyframes textGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* @supports (-webkit-background-clip: text) { */

/* } */

/* =================================== common css */














.banner {
    display: flex;
    /* padding: 150px 0px 163px 0; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    position: relative;
    isolation: isolate;
    /* overflow: hidden; */
}

/* .banner::after{
    content: '';
    position: absolute;
    left: 0;
    background: url('/images/G1.png') no-repeat;
    width: 100%;
    height: 100%;
}
.banner::before{
    content: '';
    position: absolute;
    right: 0;
    background: url('/images/G2.png') no-repeat;
    width:796px;
    height: %;
} */

.banner::before {
    content: '';
    position: absolute;
    bottom: -199px;
    left: -100px;
    width: 443.451px;
    height: 333px;
    /* transform: rotate(-169.459deg); */
    flex-shrink: 0;
    /* border-radius: 443.451px; */
    opacity: 0.4;
    background: linear-gradient(46deg, rgba(48, 92, 253, 1) 0%, rgba(216, 143, 216, 1) 98%);
    filter: blur(100px);
    z-index: -1;
}

.banner::after {
    content: '';
    position: absolute;
    top: -124px;
    left: 30px;
    width: 393.451px;
    height: 344.081px;
    flex-shrink: 0;
    opacity: 0.4;
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    ;
    filter: blur(148px);
    z-index: -1;
}

.gardientBg::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 443.451px;
    height: 383.081px;
    transform: rotate(-169.459deg);
    flex-shrink: 0;
    border-radius: 443.451px;
    opacity: 0.8;
    background: linear-gradient(46deg, rgba(153, 158, 255, 1) 0%, rgba(223, 148, 214, 1) 70%);
    filter: blur(146px);
    z-index: -1;
}

.gardientBg {
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    width: 100%;
    height: 100%;
}

.gardientBg::after {
    content: '';
    position: absolute;
    top: -124px;
    right: 30px;
    width: 393.451px;
    height: 344.081px;
    flex-shrink: 0;
    opacity: 0.8;
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    filter: blur(125px);
    z-index: -1;
}


.btnGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

}

.graphBg {
    position: relative;
    top: 0;
    right: -50px;
    width: 40dvw;
    height: 670px;
}



/* ====================== logo slider  */


.swiper {
    width: 100%;
    height: 100%;
}

.logoSlider {
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: #D9D9D9; */
    backdrop-filter: blur(10px);
    margin-top: 100px;
    position: relative;
}

.logoSlider .swiper-slide img {
    display: block;
    width: 80%;
    height: 100%;
}


element.style {
    width: 219.2px;
    margin-right: 50px;
}

.logoSlider .swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.logoSlider .swiper-slide {
    height: auto !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


/* ========================= AI Revolution*/

.sliderRevolution {
    position: relative;
    background: var(--clr-white);
    width: 100%;
}

.panelGap .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.headingH2 {
    color: var(--clr-dark-blue);
    text-align: center;

    /* Heading 2 */
    font-family: var(--font-Geist);
    font-size: clamp(2.375rem, 4vw, 3rem);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 57.6px */
    letter-spacing: -1.44px;
}

.content {
    max-width: 799px;
    width: 100%;
    margin: auto;
}

.sliderContent {
    display: flex;
    padding: 24px 24px 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid var(--clr-border-gray100);
    background: var(--clr-white);
    box-shadow: 0px 19px 39.2px 0px rgba(109, 109, 219, 0.10);

    max-width: 1167px;
}

.ai_list {
    padding-top: 24px;
}

.ai_list li {
    position: relative;
    margin-bottom: 10px;
    color: var(--clr-dark-blue);
    font-family: var(--font-Inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.24px;
}

.ai_list li::before {
    content: "\f058";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: -30px;
    background: linear-gradient(175deg, rgba(252, 205, 255, 1) 0%, rgba(98, 105, 254, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slidListContent .primaryBtn {
    margin-top: 64px;
}

.slidListContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 64px;
}

.slider_wrap .tabSwiper {
    width: max-content !important;
    height: 100%;
    margin-bottom: 32px;

}

/* .slider_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* .slider_wrap .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
} */

.slider_wrap .swiper-slide {
    background-size: cover;
    background-position: center;
}

.slider_wrap .tabSwiper2 {
    height: 80%;
    width: 100%;
}


.slider_wrap .tabSwiper {
    width: fit-content !important;
    margin: 20px auto;

}

.slider_wrap .tabSwiper .active {
    opacity: 1;
}

/* 
.slider_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


.slider_wrap .tabSwiper {
    border-radius: 46px;
    border: 1px solid var(--Neutral-platinum-200);
    background: var(--clr-white);
    display: flex;
    height: 61px;
    padding: 6px;
    align-items: flex-start;
    gap: 2px;
    height: 20%;
    box-sizing: border-box;
    max-width: 1167px;
    width: 100% !important;
    overflow: auto;
}

.slider_wrap .tabItem {
    display: flex;
    height: 48px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    width: fit-content;
    cursor: pointer;
    white-space: nowrap;
}

.slider_wrap .tabItem p {
    color: var(--clr-text-primary-gray);
    text-align: center;
    font-family: var(--font-Geist);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
    letter-spacing: 0.16px;
}

.slider_wrap .tabItem.active {

    background: var(--clr-primary-blue);
    color: var(--clr-white);
}

.slider_wrap .tabItem.active p {
    color: var(--clr-white);
}

.contxtSlid .swiper-slide {
    width: auto !important;
    /* margin-inline: 20px; */
}

.contxtSlid .swiper-slide.swiper-slide-prev {
    margin-top: 66px;
}

.contxtSlid .swiper-slide.swiper-slide-next {
    margin-top: 66px;
}

.contxtSlid .swiper-slide.swiper-slide-active {
    margin-top: 0;
}

/* ================================ */

.fetureBox_Wrap {
    position: relative;
    padding-bottom: 160px;
}

.fetureBox_Wrap::before {
    content: '';
    position: absolute;
    bottom: -0;
    left: -0;
    width: 443.451px;
    height: 333px;
    /* transform: rotate(-169.459deg); */
    flex-shrink: 0;
    /* border-radius: 443.451px; */
    opacity: 0.4;
    background: var(--clr-secondary-blue);
    filter: blur(140px);
    z-index: -1;
}


.fetureBox {
    border-radius: 24px;
    /* border: 2px solid #6269FE; */
    backdrop-filter: blur(4px);
    display: flex;
    position: relative;
    box-shadow: 0px -1px 0px 1px var(--clr-secondary-light-blue);
    margin-top: 58px;
    padding: 10px;
    padding-left: 0;
}



.fetureBox::before {
    content: '';
    position: absolute;
    bottom: 105px;
    left: 94px;
    width: 443.451px;
    height: 333px;
    /* transform: rotate(-169.459deg); */
    flex-shrink: 0;
    /* border-radius: 443.451px; */
    opacity: 0.3;
    background: var(--clr-secondary-blue);
    filter: blur(204px);
    z-index: -1;
}

.fetureBox::after {
    content: '';
    position: absolute;
    top: -124px;
    right: 30px;
    width: 393.451px;
    height: 344.081px;
    flex-shrink: 0;
    opacity: 0.4;
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    ;
    filter: blur(148px);
    z-index: -1;
}


.listing_hed {
    display: flex;
    /* height: 100px; */
    padding: 32px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    flex-shrink: 0;
    align-self: stretch;
}

.heading4 {
    color: var(--clr-text-light-accent);
    font-family: var(--font-Geist);
    font-size: clamp(1rem, 3vw, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 41.6px */
    letter-spacing: -0.64px;
}

.feature_listing {
    /* display: flex; */
    align-content: center;
    padding: 0 24px;
    height: 110px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    stroke-width: 1px;
    border-bottom: 1px solid var(--clr-border-gray);
    /* margin-block: 16px; */
    /* 136.364% */
}

.listingName:nth-child(1) {
    flex: 1 35%;
}

.listingName:nth-child(1) .feature_listing p {
    max-width: 304px;
    width: 100%;
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: clamp(0.938rem, 2vw, 1.375rem);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 136.364% */
}

.listingName:nth-child(2) .feature_listing,
.listingName:nth-child(3) .feature_listing,
.listingName:nth-child(3) .listing_hed {
    /* padding: 24px 24px 24px 40px; */
    justify-content: center;
    align-items: center;
}

.listingName:nth-child(2) .feature_listing {
    height: 110px;
    text-align: center;
}

.listingName:nth-child(3) .feature_listing {
    height: 110px;
    text-align: center;
}

.listingName:nth-child(2) {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: -25px;
    margin-left: -30px;
    background: var(--clr-white);
    position: relative;
}

.feature_listing:last-child {
    border: 0;
}

.listingName:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #6269FE, #E4A0E3);
}

.listingName:nth-child(2) ul {
    /* display: flex; */
    /* height: 743px; */
    padding: 48px 0px 0 0px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;

}


.listingName:nth-child(3) {
    border-radius: 16px;
    border: 1.5px solid var(--clr-white);
    background: linear-gradient(180deg, rgba(251, 116, 118, 0.00) -16.97%, rgba(251, 116, 118, 0.08) 80.68%), rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(8px);
    flex: auto;
    margin-left: 10px;

}

.listingName:nth-child(2) .listing_hed {
    border-radius: 16px;
    background: var(--listing-head-bg);
}

.feature_listing .fa-xmark {
    width: 40px;
    height: 40px;
    color: var(--close-red);
}

/* .listingName:nth-child(3) .feature_listing {
    padding: 40px 0;
} */


/* ===================== */

.reviewSlid {
    display: flex;
    /* max-width: 877px;
    min-width: 877px; */
    width: 100%;
    height: auto;
    padding: 24px 16px;
    align-items: flex-start;
    gap: 70px;
    flex-shrink: 0;
    border-radius: 12px;

    border: none;
    box-shadow: none;
}

/* .slidWrap .swiper-slide.swiper-slide-active {

    width: 819.333px !important;
    margin-right: 77px;

}
 */


.slidWrap .swiper-slide {
    width: 45% !important;
    margin-inline: 20px;
}

.reviewSlid .clientImg {
    width: 100%;
    object-fit: cover;
}


.reviewSlid.gary {
    background: var(--clr-bg-gray);
}

.reviewSlid.blue {
    background: #ECF0FE;
}

.reviewSlid.pink {
    background: #F0E2FA;
}

.slidListContent h5 {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 144.444% */
}

.client_info h6 {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 116.667% */
}

.client_info p {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.para5 {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.mobile_futureLogo {
    display: none;
}

/* =================================== */

/* =================================== */

.graphBg .brand_ring {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.graphBg .inner_ring {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.graphBg .outer_ring {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animated-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-size: 100% 100%;
    animation: morphAnimation 4s linear infinite;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes morphAnimation {
    0% {
        background-image: url('/images/home/stage2.svg');
    }

    25% {
        background-image: url('/images/home/stage3.svg');
    }

    50% {
        background-image: url('/images/home/stage4.svg');
    }

    75% {
        background-image: url('/images/home/stage5.svg');
    }

    100% {
        background-image: url('/images/home/stage2.svg');
    }
}

.graphBg .heroTabs {
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.80);
    display: inline-flex;
    padding: 6px;
    align-items: center;
    gap: 8px;

    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.graphBg .heroTab {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

    border-radius: 100px;
    background: #EFF0FB;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.15) inset;
    backdrop-filter: blur(4px);

    color: #1B1E3D;
    /* font-family: "Inter Variable"; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 16.8px */
    letter-spacing: -0.252px;
    cursor: pointer;
}

.graphBg .heroTab.active {
    border-radius: 100px;
    border: 1.5px solid #6269FE;
    background: radial-gradient(48.38% 151.47% at 49.84% 175%, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(433.54% 208.82% at 49.84% 194.12%, rgba(98, 105, 254, 0.20) 0%, rgba(98, 105, 254, 0.00) 100%), #F9F9FF;
    background-blend-mode: plus-lighter, plus-lighter, normal;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.15) inset;
    backdrop-filter: blur(4px);
}

.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #ccc;
    margin: 0 5px;
    border-radius: 50%;
    transition: all 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background: #5c74ff;
    width: 16px;
    height: 16px;
}

/* .graphBg {
    background-color: #E4A0E3;
} */

.logo_group,
.circularCanvas {
    width: 500px;
    height: 521px;
    border-radius: 74%;
    /* background: #000; */
    /* border: 2px solid #b3b3b383; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-content: center;
    position: absolute;
    inset: 0;
    margin: auto;
}

.logo_group img {
    position: absolute;
    /* animation:  customAni 2s ease-in-out 0s infinite normal none; */
}

img.brand_logo1 {
    top: 10%;
    right: 9%;
}

img.brand_logo4 {
    left: 3%;
    top: 17%;
}

img.brand_logo3 {
    left: 43%;
    top: -3%;
}

img.brand_logo2 {
    left: -3%;
    bottom: 22%;
}

img.brand_logo {
    bottom: 37%;
    right: -8%;
}

img.brand_logo5 {
    bottom: -8%;
    /* transform: translateY(71%); */
    right: 40%;
}

/* Copy this code after the above code */
/* Copy this code after the above code */
/* @keyframes customAni {
  0% {
	transform: scale(1);
  }

  100% {
	transform: scale(0.9);
  }
} */


/* ====================== c ard */

.circularCanvas img {
    position: absolute;

}

img.card3 {
    top: 0;
    right: 16%;
    /* animation: bounce2 2s ease infinite; */
}

img.card1 {
    left: -20%;
    top: 39%;
    transform-origin: top center;
    /* animation: shake 2s ease infinite; */
}

img.card2 {
    right: -18%;
    bottom: 2%;
    /* animation: wobble 2s ease infinite; */
}

/* @keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-5px);}
	60% {transform: translateY(3px);}
}


.shake {
  animation: shake 2s ease infinite;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
} */


/* ======================= */

img.flip1 {
    bottom: 0%;
}

img.flip5 {
    left: -19%;
    bottom: 9%;
}

img.flip4 {
    right: -23%;
    bottom: 21%;
}

img.flip2 {
    right: -21%;
    top: -5%;
}

img.flip6 {
    left: 0;
    top: -16%;
    right: 0;
    margin: auto;
}

img.flip3 {
    top: 15%;
    left: -10%;
}

.mobile_circularCanvas {
    display: none;
}

.mobile_circularCanvas img.card1 {
    left: 30px;
    top: 0;
}

.mobile_circularCanvas img.card2 {
    right: 20px;
    bottom: 0%;
    /* animation: wobble 2s ease infinite; */
}



/* ============ */


.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    border-radius: 16px !important;
    background: rgba(204, 204, 233, 0.50) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 26px !important;
    background: #6269FE !important;
}

.swiper-button-prev {
    left: 6% !important;
}

.swiper-button-next {
    right: 6% !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: rgba(204, 204, 233, 0.50) 0 0 10px;
    z-index: 999 !important;

}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "\f060" !important;
    font-family: "Font Awesome 6 Pro" !important;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: 19px !important;



}

.swiper-button-next::after,
.swiper-rtl .swiper-button-next::after {

    content: "\f061" !important;
    font-family: "Font Awesome 6 Pro" !important;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: 19px !important;


}

.slidWrap {
    position: relative;
}

.slidWrap .swiper::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 512px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, #FFF 100%);
    z-index: 9;
}

.slidWrap .swiper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 512px;
    flex-shrink: 0;
    background: linear-gradient(269deg, rgba(255, 255, 255, 0) 40%, #FFF 100%);
    z-index: 9;
}

.contxtSlid::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 512px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, #FFF 100%);
    z-index: 9;
}

.contxtSlid::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 512px;
    flex-shrink: 0;
    background: linear-gradient(269deg, rgba(255, 255, 255, 0) 40%, #FFF 100%);
    z-index: 9;
}