.banner {
    display: flex;
    padding: 150px 0px 131px 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    position: relative;
    isolation: isolate;
}

/* .banner::after{
    content: '';
    position: absolute;
    left: 0;
    background: url('/images/G1.png') no-repeat;
    width: 100%;
    height: 100%;
}
.banner::before{
    content: '';
    position: absolute;
    right: 0;
    background: url('/images/G2.png') no-repeat;
    width:796px;
    height: %;
} */

.banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 443.451px;
    height: 383.081px;
    transform: rotate(-169.459deg);
    flex-shrink: 0;
    border-radius: 443.451px;
    opacity: 0.4;
    background: linear-gradient(46deg, rgba(48, 92, 253, 1) 0%, rgba(216, 143, 216, 1) 98%);
    filter: blur(140px);
    z-index: -1;
}

.banner::after {
    content: '';
    position: absolute;
    top: -124px;
    left: 30px;
    width: 393.451px;
    height: 344.081px;
    flex-shrink: 0;
    opacity: 0.4;
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    ;
    filter: blur(148px);
    z-index: -1;
}

.gardientBg::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 443.451px;
    height: 383.081px;
    transform: rotate(-169.459deg);
    flex-shrink: 0;
    border-radius: 443.451px;
    opacity: 0.8;
    background: linear-gradient(46deg, rgba(153, 158, 255, 1) 0%, rgba(223, 148, 214, 1) 70%);
    filter: blur(146px);
    z-index: -1;
}

.gardientBg {
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    width: 100%;
    height: 100%;
}

.gardientBg::after {
    content: '';
    position: absolute;
    top: -124px;
    right: 30px;
    width: 393.451px;
    height: 344.081px;
    flex-shrink: 0;
    opacity: 0.8;
    background: linear-gradient(46deg, rgba(170, 173, 250, 1) 27%, rgba(86, 139, 255, 1) 100%);
    filter: blur(125px);
    z-index: -1;
}

.mainHeading {
    color: var(--clr-dark-blue);
    font-family: var(--font-Geist);
    font-size: clamp(2.8rem, 4vw, 4rem);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 70.4px */
    letter-spacing: -1.6px;
}

.textGradient {
    font-size: clamp(2.8rem, 4vw, 4.5rem);
    background: #305CFD;
    background: linear-gradient(189deg, rgba(48, 92, 253, 1) 0%, rgba(222, 141, 214, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 80% 30%;
    }

    100% {
        background-position: 20% 50%;
    }
}


.commonPara {
    color: #4D4F6B;
    font-family: Geist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    margin-bottom: 35px;
}

.btnGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

}

.graphBg {
    position: absolute;
    top: 0;
    right: 0;
}