.cta {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.cta .bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cta .textWrapper {
    margin-bottom: 24px;
}

.cta .textWrapper h3 {
    color: #1B1E3D;

    /* Heading 2 */
    font-family: Geist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 57.6px */
    letter-spacing: -1.44px;
}

.cta .textWrapper h3 span {
    color: var(--PBX-Gradient-1, #1B1E3D);

    /* Heading 2 */
    font-family: Geist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.44px;
}

/* .cta .logoWrapper {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
} */

.cta .chipWrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end
}

.cta .chipWrapper .chip {
    padding: 8px 16px;

    border-radius: 32px;
    /* border: 1.5px solid rgba(255, 255, 255, 0.20); */
    background: #FFF;
    box-shadow: 0px -4px 16px 0px rgba(192, 170, 255, 0.15) inset, 0px 4px 12px 0px rgba(48, 92, 253, 0.12) inset, 0px 12px 40px 0px rgba(98, 105, 254, 0.08);
    backdrop-filter: blur(4px);

    color: #1B1E3D;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.45px;

    width: max-content;
    position: relative;
    z-index: 2;
}

.cta .chipWrapper .chip::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 32px;

    background: linear-gradient(270deg, rgba(48, 92, 253, 0.6) 0%, rgba(217, 104, 255, 0.6) 100%) border-box;

    --lyr: conic-gradient(red 0 0);
    mask: var(--lyr) padding-box exclude, var(--lyr);

    content: ''
}

.cta .chipWrapper .chip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url('/images/cta/Circle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;

}

.cta .chipWrapper .chip:nth-child(1) {
    right: -161px;
}

.cta .chipWrapper .chip:nth-child(2) {
    right: -105px;
}

.cta .chipWrapper .chip:nth-child(3) {
    right: -84px;
}

.cta .chipWrapper .chip:nth-child(4) {
    right: -86px;
}

.cta .chipWrapper .chip:nth-child(5) {
    right: -109px;
}

.cta .chipWrapper .chip:nth-child(6) {
    right: -167px;
}

.apbx-logo {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-size: 100% 100%;
    animation: apbxLogo 3s linear infinite;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

@keyframes apbxLogo {
    0% {
        background-image: url('/images/cta/apbx-1.svg');
    }

    50% {
        background-image: url('/images/cta/apbx-2.svg');
    }

    100% {
        background-image: url('/images/cta/apbx-3.svg');
    }
}

.postionWrap {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    gap: 160px;
    align-items: center;
    height: 100%;
}

.circleBg {
      position: absolute;
    /* inset: 0; */
    right: -41px;
    top: 0;
    /* width: 100%; */
    height: 100%;
}

.circleBg img {
    width: 100%;
    height: 100%;
}

/* ============================== mobile cta */

.mobileCta {
    padding-block: 60px 50px;
    height: 100%;
    display: none;
}

.mobileCta .btnGroup {
    justify-content: center;
    align-items: center;
}

.cta.mobileCta .logoWrapper {
    position: static;
    transform: unset;
}

.cta.mobileCta .chipWrapper .chip:nth-child(1) {
    right: 0;
}

.cta.mobileCta .chipWrapper {
    width: max-content !important;
}

.cta.mobileCta .chip {
    width: max-content !important;
}

.cta.mobileCta .chipWrapper .chip {
    border-radius: 32px;
    border: 1.5px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -4px 10px 0px rgba(215, 215, 215, 0.20) inset, 0px 4px 8px 0px rgba(255, 255, 255, 0.70) inset;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cta.mobileCta .chipWrapper .chip::before {
    display: none;
}

.cta.mobileCta .chipWrapper .chip::after {
    display: none;
}

/* .mobileCta .circleBg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mobileCta .circleBg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */