@media (max-width: 1800px) {

    .slidWrap .swiper-slide {
        width: 60% !important;
        margin-inline: 20px;
    }
}


@media (max-width: 1500px) {

    .contxtSlid .swiper-slide {
        width: 80% !important;
        margin-inline: 10px;
    }

    .contxtSlid::after {
        width: 200px;
    }

    .contxtSlid::before {
        width: 200px;
    }
}

@media (max-width: 1499px) {
    .graphBg {
        width: 43dvw;
        right: 0;
    }

    .graphBg .brand_ring {
        top: 46%;
        left: 45%;
        scale: 0.9;
    }
}

@media (max-width: 1350px) {

    .logoSlider .swiper-slide img {
        width: 80%;
    }

    .graphBg {
        width: 44dvw;
        right: 0;
    }

    .animated-circle {
        width: 583px;
        top: 43%;
        left: 39%;
        transform: translate(-50%, -50%);
        scale: 0.8;
    }

    .graphBg .outer_ring {
        width: 599px;
        top: 53%;
    }

    .graphBg .inner_ring {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    .graphBg .brand_ring {
        top: 47%;
        left: 45%;
        /* scale: 0.9; */
        width: 706px;
    }

    img.flip2 {
        right: -5%;
        top: 4%;
    }

    img.flip4 {
        right: -9%;
        bottom: 21%;
    }

    img.flip5 {
        left: -10%;
        bottom: 13%;
    }

    img.card1 {
        left: -25%;
        top: 32%;
    }

    .logo_group,
    .circularCanvas {
        width: 413px;
        height: 413px;

    }

    img.card3 {
        top: -7%;
        right: 16%;
        /* animation: bounce2 2s ease infinite; */
    }

    img.card2 {
        right: -18%;
        bottom: -13%;
        /* animation: wobble 2s ease infinite; */
    }
}

@media (max-width: 1199px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 95% !important;
    }

    .graphBg {
        position: static;
        /* margin: 180px auto 0 auto; */
    }

    .graphBg {
        width: 90dvw;
        height: 800px;
    }

    /* .graphBg .inner_ring {
        position: absolute;
        top: 48%;
        left: 44%;
        transform: translate(-50%, -50%);
        width: unset;
    } */

    .slidWrap .swiper-slide {
        width: 74% !important;
        margin-inline: 20px;
    }

    .contxtSlid .swiper-slide {
        width: 90% !important;
    }

    .slidBox img {
        width: 100%;
        height: auto;
    }

    .banner {
        padding: 150px 0px 163px 0;
    }

    .banner .col-md-8,
    .banner .col-md-4 {
        width: 100% !important;
    }

    .graphBg .outer_ring {
        width: 800px;
        top: 60%;
        left: 53%;

    }

    .graphBg .brand_ring {
        top: 44%;
        left: 47%;
        /* scale: 0.9; */
        width: 900px;
    }

    .animated-circle {
        width: 583px;
        top: 56%;
        left: 47%;
        transform: translate(-50%, -50%);
        scale: 0.8;
    }

    .graphBg .inner_ring {
        position: absolute;
        top: 61%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: unset;
    }

    .btnGroup {
        margin-bottom: 70px;
    }

    img.card3 {
        top: -26%;
        /* animation: bounce2 2s ease infinite; */
    }

    img.card2 {
        right: -20%;
        bottom: 0%;
        /* animation: wobble 2s ease infinite; */
    }

    img.card1 {
        left: -42%;
        top: 21%;
    }

    .logo_group,
    .circularCanvas {
        width: 500px;
        height: 522px;
        top: -83px;
    }

    img.flip4 {
        right: -19%;
        bottom: 21%;
    }

    img.flip5 {
        left: -21%;
        bottom: 13%;
    }

    img.flip1 {
        bottom: -15%;
    }

}

@media (max-width: 1099px) {
    .headerItem {
        padding-inline: 15px !important;
    }

    .navbar-brand {
        padding-right: 4px;
    }



    .tabItem {

        padding: 8px 18px;
    }

    .contxtSlid .swiper-slide {
        width: 80% !important;
        margin-inline: 20px;
    }
}

@media (max-width: 991px) {
    .rightSide_group {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
    }

    .nav-item {
        padding-block: 10px;
    }

    .navbar-nav {
        /* padding-block: 20px; */
        /* overflow: auto; */
        /* max-height: 500px; */

    }

    .listingName:nth-child(2) .listing_hed {
        padding: 32px 0;
    }

    .listingName:nth-child(1) .feature_listing p {
        /* max-width: 208px; */
        padding-right: 15px;
    }

    .listingName:nth-child(3) .listing_hed {
        padding: 32px 17px;
    }

    .slider_wrap .tabSwiper.swiper {
        max-width: 668px;
        width: 100% !important;
        overflow: auto;
    }

    .contxtSlid .swiper-slide {
        width: 100% !important;
        margin-inline: 0;
    }

    .sliderContent .primaryBtn {
        width: 100%;
    }

    .slidListContent .primaryBtn {
        margin-top: 0;
    }

    .slidListContent .primaryBtn {
        margin-block: 20px;
    }

    .slidListContent {
        padding-right: 0;
    }

    .desktopCta {
        display: none;
    }

    .mobileCta {
        display: block;
    }

    /* .graphBg {
        right: -24%;
        scale: 0.5;
        width: 100%;
        height: 400px;
    } */

    .graphBg {
        position: relative;
        height: 800px;
    }

    .animated-circle {
        scale: 1;
        width: 80%;
        left: 50%;
        top: 50%;
    }

    .graphBg .inner_ring {
        width: 100%;
        top: 52%;
        left: 50%;
    }

    .graphBg .brand_ring {
        top: 51%;
        left: 50%;
        scale: 1;
        width: 110%;
    }

    .graphBg .outer_ring {
        width: 120%;
        top: 50%;
        left: 50%;
    }

    .gardientBg::before {
        right: 100px;
        width: 303.451px;
        transform: unset;
    }

    img.card1 {
        left: -65px;
        top: 46%;
    }

    img.card3 {
        top: 0;
        /* animation: bounce2 2s ease infinite; */
    }

    .logoSlider {
        margin-top: 0;
    }

    .banner {
        padding: 150px 0px 60px 0;
    }

    .logo_group,
    .circularCanvas {
        top: 5px;
    }

    .contxtSlid::after,
    .slidWrap .swiper::before,
    .slidWrap .swiper::after,
    .contxtSlid::before {
        content: none;
    }

    .navbar {
        background: rgb(255 255 255) !important;
        backdrop-filter: unset;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    .navbar-collapse.collapse.show {
        padding-bottom: 30px;
        max-height: 500px;
        overflow: auto;
    }

    .dropdown-menu.full-screen .menuCard {
        display: none;
    }

    .dropdown-menu.full-screen {
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 840px) {

    .banner .col-md-8 {
        width: 100%;
    }

    .banner {
        padding: 100px 0px 0 0;
    }

    .reviewSlid .col-sm-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    .slidWrap .swiper-slide {
        width: auto;
    }

    .logoSlider {
        margin-top: 0;
    }

    .logoSlider .swiper-slide img {
        display: block;
        width: 50%;
        height: 100%;
    }

    .reviewSlid img.clientImg {
        width: 100%;
        height: auto;
    }

    .banner .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .panelGap {
        padding-top: 40px;
    }

    .sliderRevolution .sliderContent .slidBox img {
        width: 100%;
        height: auto;
    }

    .cta {
        margin-top: 50px;
    }

    .contxtSlid .swiper-slide {
        width: 100% !important;
        margin-inline: 0;
    }

    .btnGroup {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .listingName:nth-child(3) .listing_hed {
        padding: 32px 0;
    }

    .feature_listing {
        height: 128px;
    }

    .reviewSlid img.clientImg {
        width: 100%;
        height: auto;
    }

    .features article .imgWrapper {
        width: 100%;
        height: 231px;
    }

    .fetureBox::before {
        left: 0;
        width: 350px;
    }

    .fetureBox_Wrap {
        padding-bottom: 60px;
    }

    .contxtSlid .swiper-slide {
        width: 100% !important;
        margin-inline: 0;
    }

    .logoSlider {
        display: none;
    }

    .banner .container {
        overflow: hidden;
    }

    .logo_group,
    .circularCanvas {
        width: 390px;
        top: 0;
    }

    .graphBg .heroTabs {
        display: none;
    }

    img.flip3 {
        top: 15%;
        left: 0;
    }

    img.flip4 {
        right: 0;
        bottom: 21%;
    }

    img.flip2 {
        right: 0;
        top: 4%;
    }

    img.flip5 {
        left: 0;
        bottom: 10%;
    }

    .hero_slider {
        display: none !important;
    }

    /* =========== */
    .mobile_circularCanvas {
        display: block;
    }

    .graphBg {
        position: relative;
        height: 600px;
    }

    .banner::before {
        width: 100%;
        height: 333px;
    }

    .banner::after {
        left: 0;
        width: 100%;
    }

    .graphBg .inner_ring {
        width: 100%;
        top: 52%;
        left: 50%;
    }

    .fetureBox_Wrap::before {
        width: 100%;
        height: 333px;
    }


}

@media (max-width: 575px) {
    .desk_futureLogo {
        display: none;
    }

    .mobile_futureLogo {
        display: block;
    }

    .listingName:nth-child(2) .listing_hed {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .listingName:nth-child(2) .feature_listing {
        height: 110px;
        text-align: center;
        padding: 0;
    }

    .listingName:nth-child(2) {
        width: 120px;
    }

    .listingName:nth-child(1) {
        flex: 1 1 50%;
    }

    .listingName .primaryBtn {
        display: none;
    }

    .logoSlider {

        display: none;
    }

    .slidWrap .swiper-slide {
        width: 75% !important;
        margin-inline: 20px 0 !important;
    }

    .secondaryBtn {
        width: 100%;
    }

    .btnGroup {
        flex-direction: column;
    }

    .btnGroup .primaryBtn {
        width: 100%;
    }

    .features article .imgWrapper .bg.light2 {
        right: 0;
    }

    .banner::before {
        left: 0;
    }

    .faq .textWrapper h3 {
        font-size: 38px;
    }

    .faq {
        padding: 0;
    }

    .slider_wrap {
        padding-inline: 15px;
    }

    .logo_group,
    .circularCanvas {
        width: 100%;
        top: 0;
    }

    .mobile_futureLogo {
        display: block;
        width: 100%;
    }

    .menuWrapper ul {
        grid-template-columns: repeat(1, 1fr);
    }
}